.dashboard {
  padding: 40px;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f7ff;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6C63FF;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

header button {
  background-color: #fff;
  color: #6C63FF;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

main {
  margin-top: 40px;
}

