.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #1c92d2, #f2fcfe);
  font-family: 'Segoe UI', sans-serif;
}

.register-card {
  background: rgba(255,255,255,0.15);
  padding: 40px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  text-align: center;
  width: 340px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}

.register-card h2 {
  color: white;
  margin-bottom: 20px;
}

.register-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
}

.register-card button {
  padding: 12px 20px;
  width: 100%;
  background-color: #6c63ff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.register-card button:hover {
  background-color: #574fd6;
}

